html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #EEEEEE;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  background-color: white;
}

.main {
  display: flex;
  width: 60%;
  margin: 10px;
  flex-direction: column;
}

.header {
  background-color: #FFE600;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
