.detail {
  background-color: white;
}

.image {
  width: 680px;
}
.image img {
  object-fit: contain;
}

.description {
  margin: 20px;
  width: 70%;
}

.description h2 {
  font-size: 28px;
  font-weight: 400;
}

.description p {
  font-size: 16px;
  color: #999999;
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.subtitle {
  font-size: 14px;
}

.product h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.price {
  font-size: 46px;
  margin-bottom: 20px;
}

.top-wrapper {
  max-width: 300px;
}

.pay-button {
  background-color: #3883FA;
  margin-top: 40px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.pay-button:hover {
  background-color: #3269c1;
}