.product {
  background-color: white;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  padding: 20px 50px 20px 0;
}

.picture {
  width: 180px;
  height: 180px;
}

.picture img {
  object-fit: contain;
}

.description {
  width: 60%;
  padding: 20px;
}

.product-price {
  margin-bottom: 15px;
  font-size: 24px;
}

.product-price span {
  margin-right: 10px;
}

.product-description {
  font-size: 18px;
}

.product-address {
  padding-top: 40px;
  margin: 0 auto;
}